:root ._dsp-flex{display:flex;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._fd-row{flex-direction:row;}
:root ._w-1001029{width:100 %;}
:root ._h-312px{height:312px;}
:root ._ai-center{align-items:center;}
:root ._jc-center{justify-content:center;}
:root ._bg-A78BFA35{background-color:#A78BFA;}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._col-675002279{color:var(--color);}
:root ._tt-1440318557{text-transform:var(--f-tr-10);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-1366436877{font-weight:var(--f-we-10);}
:root ._ls-905095908{letter-spacing:var(--f-21-10);}
:root ._fos-1477259397{font-size:var(--f-si-10);}
:root ._lh-1677663454{line-height:var(--f-li-10);}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._whiteSpace-normal{white-space:normal;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ai-stretch{align-items:stretch;}
:root ._fs-1{flex-shrink:1;}
:root ._fd-column{flex-direction:column;}
:root ._fg-1{flex-grow:1;}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._fow-bold{font-weight:bold;}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-229441344{font-size:var(--f-si-8);}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._pl-1316330238{padding-left:var(--space-14);}
:root ._pt-1316330238{padding-top:var(--space-14);}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-1481558152{margin-top:var(--space-9);}
:root ._ml-1316330300{margin-left:var(--space-16);}
:root ._w-10037{width:100%;}
:root ._mt-1316330238{margin-top:var(--space-14);}
:root ._gap-1481558152{gap:var(--space-9);}
:root ._btc-2122800589{border-top-color:var(--borderColor);}
:root ._brc-2122800589{border-right-color:var(--borderColor);}
:root ._bbc-2122800589{border-bottom-color:var(--borderColor);}
:root ._blc-2122800589{border-left-color:var(--borderColor);}
:root ._btw-0px{border-top-width:0px;}
:root ._brw-0px{border-right-width:0px;}
:root ._bbw-1px{border-bottom-width:1px;}
:root ._blw-0px{border-left-width:0px;}
:root ._h-0px{height:0px;}
:root ._mah-0px{max-height:0px;}
:root ._mt-15px{margin-top:15px;}
:root ._mb-15px{margin-bottom:15px;}
:root ._w-8537{width:85%;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._transform-d0t1394298074{transform:translateY(-0.5px);}
:root ._gap-1316330238{gap:var(--space-14);}
:root ._fow-233016140{font-weight:var(--f-we-4);}
:root ._ls-167744059{letter-spacing:var(--f-21-4);}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._lh-222976573{line-height:var(--f-li-4);}